.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 10px 20px;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3)
}
.menubar img {
  height: 17px;
}
.menubar a {
  color: #777;
  text-decoration: none;
}
.menu_up {
  opacity: 0.8;
  transition: all .8s ease-out;
}
.menu_up:hover {
  opacity: 1;
  transition: all .1s ease-out;
}
